<app-navbar></app-navbar>

<div id="dashboard" class="grid-container">
    <app-supervisor-tabs></app-supervisor-tabs>

    <div id="contentHolder">
        <h2 class="heading">Pending Reimbursement Requests</h2>
        <h5 class="subheading">Please select reimbursement requests to approve or deny.</h5>
        <form id="RequestTable" method="post" action="recordRequestVerdict">
            <div class="form-row">
                <div class="form-group col attachments">
                    <table class="supTable">
                    <tr>
                        <th></th>
                        <th>Request ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Event Type</th>
                        <th>Cost</th>
                        <th>Description</th>
                        <th>Work-Related Justification</th>
                        <th>Missed Work Hours<br>(if provided)</th>
                        <th>Event Date</th>
                        <th>Event Time</th>
                        <th>Event Location</th>
                        <th>Grading Format</th>
                        <th>Reimbursement Amount</th>
                        <th>Supporting Documents</th>
                     </tr>
                    </table>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <h5 class="taleft">Would you like to APPROVE or DENY the selected request(s)?</h5>
                    <select class="form-control contain" name="verdict">
                        <option>Approve</option>
                        <option>Deny</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="submit" class="form-control contain">
                </div>
            </div>
        </form>               
    </div>
</div>
