
    <div>
        <form method ="post" action="navigate">
            <table id="tabs">
                <tr>
                    <td>
                        <button class="dashboardTab" routerLink="/employee101">Reimbursements 101</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" routerLink="/submitRequest">Create Reimbursement Request</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" routerLink="/uploadGrade">Upload Grade/ Presentation</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" routerLink="/viewRequests">View Requests</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
