<div>
        <form method = "post" action="navigate">
        <table id="tabs">
            <tr>
                <td>
                    <button class="supDashboardTab" routerLink="pendingRequests">Pending Reimbursement Requests</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="supDashboardTab" routerLink="pendingGrades">Pending Grades/ Presentations</button>
                </td>
            </tr>
        </table>
        </form>
</div>
