<div id="navbar">
    <span>
        <h4 id="brand">TRP</h4>
    </span>
</div>

<div>
    <h1>TRP</h1>
</div>
<div>
    <h2 id="subheading">Welcome to the Tuition Reimbursement Portal</h2>
</div>
<div>
    <form action="login" method="post">
        <div>
            <span>
               <label for="inputUsername">Username:</label>
            </span>
            <span>
                <input type="text" id="inputUsername" name="username" required="required">
            </span>  
            <span>
                <label for="inputPassword">Password:</label>
            </span>
            <span>
                <input type="password" id="inputPassword" name="password" required="required"> 
            </span> 
            <span>
                <button type="submit" class="signIn">Sign in</button>
            </span>
        </div>
    </form>
    <h5 id="failedLogin"></h5>
</div>
